services:
  chrome:
    container_name: "website-assets-chrome"
    image: "chromedp/headless-shell:141.0.7390.37"
    user: "${TEST_UID:-65534}:${TEST_GID:-65534}"
    shm_size: "2gb"
    command: [
      "--ignore-certificate-errors",
      "--disable-gpu",
      "--disable-dev-shm-usage",
      "--window-size=768,1024",
      "--disable-popup-blocking",
    ]
    healthcheck:
      test: ["CMD", "true"]
      interval: 5s
      retries: 5
      start_period: 5s
    volumes:
      - type: tmpfs
        target: /nonexistent
        tmpfs:
          size: 10M
          mode: 0o777

  generator:
    container_name: "website-assets-generator"
    image: "skorekeeper-website-assets"
    user: "${TEST_UID:-65534}:${TEST_GID:-65534}"
    command: [
      "--chrome-url=ws://chrome:9222",
      "--output-dir=/output"
    ]
    volumes:
      - type: bind
        source: ./output
        target: /output
    networks:
      default:
        aliases:
          - devtest.local
    depends_on:
      chrome:
        condition: service_healthy

networks:
  default:
    internal: true
